$ORIGIN {{ zone_name }}.
$TTL      86400
@         IN       SOA     dns.{{ zone_name }}. root.localhost (
                                        2020120900 ; Serial
                                        28800      ; Refresh
                                        14400      ; Retry
                                        3600000    ; Expire
                                        86400 )    ; Minimum
          IN       NS      dns.{{ zone_name }}.
dns       IN       A       {{ hostvars[groups['dns'][0]]['ansible_default_ipv4']['address'] }}
*         IN       A       {{ ecs_server_ip }}